html{
  font-size: 18px;
  line-height: 1.4;
}
/*body{
  display: block;
  align-content: center;
}*/

header{
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  align-items: center;
  z-index: 1;
  /*Need to rearrange to put image in header and center*/
  /*max-width: 960px;
  margin: 0 auto;*/
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  max-width: 960px;
}

.logo img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.services{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 960px;
}

.services span{
  padding-right: 2rem;
}

header span{
  display: inline-block;
}

.mainbg{
  display: flex;
  background-image:url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.mainbg span{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-content: center;
  justify-content: content;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
}

.offerings{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}


.trait1{
  display: flex;
  flex-direction: column;
  padding-right: 6rem;
  padding-top: 3rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
}

.trait1 img{
  width: 3.5rem;
  padding-bottom: 1rem;
}

.trait2{
  display: flex;
  flex-direction: column;
  padding-right: 6rem;
  padding-top: 3rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
}

.trait2 img{
    width: 5rem;
    padding-bottom: 1rem;
}

.trait3{
  display: flex;
  flex-direction: column;
  padding-right: 6rem;
  padding-top: 3rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
}

.trait3 img{
  width: 5rem;
  padding-bottom: 1rem;
}

.content{
  display: flex;
  align-items: center;
}

.content span{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  width: 10rem;
}
