html{
  font-size: 18px;
  line-height: 1.4;
}

.top{
  display: flex;
  max-width: 960px;
  align-items: center;

}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  max-width: 960px;
}

.logo img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.services{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 960px;
}

.services span{
  padding-right: 2rem;
}

nav{
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  align-items: center;
  max-width: 960px;

}

nav span{
  display: inline-block;
}
